
<% for (var x= 0; x< hoteis.length; x++) { %>
	<div class="infos row">
		<h3 class="title"><%= hoteis[x].name %></h3>
		<img src="<%= hoteis[x].img %>" class="imagem small-8 columns ">
		<p class="text"><%= hoteis[x].location %></p>
		<p><%= hoteis[x].description %></p>
			<a target="_blank" href="https://web.moovitapp.com/tripplan?metroId=242&lang=pt" >
				<img src="/images/moovit.png" class="infocaminho">
			</a>	
	</div>

 <% } %>

