

	<section .inicio">
		<img src="/images/foto.jpg" alt="Foto do Filme Intocáveis" class="photo">
	</section>

	<section class="row">
		<div class="large-12 columns inicio">
			<h3 class="texto">Iniciativa</h3>
			<p class="home">É o fim de um curso {Reprograma} e inicio de uma jornada, que trouxe mudanças e me fez repensar em valores e questões que nos rodeiam todos os dias. O <strong>Guia Inclusivo</strong> tem o objetivo de ajudar pessoas com algum tipo de deficiência a se locomover com mais segurança e facilidade. </p>
		</div>

		<div class="inicio">
    		
    	</div>
	</section>
		
		
	<section id="docs" class="row" >
		<div class="large-12 columns">
			
		</div>	
		
	</section>

	<form class="contato row align-center">
		<div class="info small-6 large-offset-3 columns">
			<h4>Seu contato é muito importante para nós :)</h4>
			<label for="email">E-mail</label>
			<input type="email" name="email">
			<label for="msg">Mensagem:</label>
        	<textarea rows="5" cols="20" maxlength="250" id="msg"></textarea>
			<a class="button" href="#">Enviar</a>
		</div>
	</form>	

