
<% for (var x= 0; x< parques.length; x++) { %>
	<div class="infos row">
		<h4 class="title"><%= parques[x].name %></h4>
		<img src="<%= parques[x].img %>" class="imagem small-8 columns ">
		<p><%= parques[x].description %></p>
		<p class="text"><%= parques[x].location %></p>
			<a target="_blank" href="https://web.moovitapp.com/tripplan?metroId=242&lang=pt" >
				<img src="/images/moovit.png" class="infocaminho">
			</a>	
	</div>
	<hr></hr>

 <% } %>
