body{
	margin: 0;
	padding: 0;
	font-family: 'ABeeZee', sans-serif;
}

li{
	list-style: none;
	display: inline;

}
ul{
	margin: -90px;
	padding-top: 40px;
}

.menu	{
	margin: 10px;
	font-size: 16px;
	color: #1874CD;
	border: 2px solid #1874CD;
	padding: 10px;
	border-radius: 40px;


}
.menu:hover{
	background: #E0FFFF;
}

.photo{
	width: 100%;
	height: 30%;
}
.element {
  	@include disable-mouse-outline;
 
}
h1{
	color: #1874CD;
	margin: 3px;
	padding-left: 60px;
	font-family: 'Coustard', serif;
	font-size: 53px;
}
.photo{
	position: relative;
	z-index: -1;
	margin-top: -85px;
}
.text{
	color: black;
	margin: 10px;
	text-align: left;
	padding: 14px;
	font-size: 16px;
}
h3{
	color: #1874CD;
	margin: 10px;
	padding: 14px;
	font-family: 'ABeeZee', sans-serif;
	text-align: center;
}
h4{
	font-family: 'ABeeZee', sans-serif;
	text-align: center;
	color: #1874CD;
}

label{
	text-align: center;
}
.info{
	text-align: center;
}
textarea:focus{
	background: #DCDCDC	;
}

.infocaminho{
	width: 6%;
}

.title{
	text-align: left;
}

.text{
	padding: 10px;
}

.imagem{
	height: 300px;
	width: 26%;
	margin: 15px;
}
.museu{
	padding: 10px;
}

footer{
	background: #1874CD;
	width: 100%;
	height: 7%;
}
.button a{
	background: #1874CD;
}
form{
	padding-top: 42px;
}